$primary-color: #033c72;
$primary-bgcolor: #c3eeff;
$border-color: white;
$secondary-bgcolor: lightgray;
$form-bgcolor: #29a1f1;
$form-color: white;
$font-size: 12pt;
$room-color: #8af7a1;
$room-select-color: #21c444; 