@import '../../../vars';
.message__item {
    color: black;
    padding: 10px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 12px;
}
.message__userinfo {
    font-size: 10pt;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.message__owner {
    background-color: $message-owner-color;
}
.message__other {
    background-color: $message-other-color;
}