@import '../../../vars';

.main__panel {
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid $border-color;
    background-color: white;
}

.top__panel {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 5px 5px lightblue;
    margin-bottom: 7px;
    border: 2px solid gray;
    border-bottom: none;
    padding: 10px;
}

.top__panel img {
    height: 60px;
}

.user_info_panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.user_info_panel p {
    color: black;
}

.user_info_panel p span {
    color: $primary-color;
    margin-right: 10px;
    font-style: italic;
    text-decoration: underline;
}

.user_info_panel button {
    padding: 1px;
}

.left__panel {
    flex-grow: 1;
    border-right: 2px solid $border-color;
    overflow: auto;
}

.left__panel__toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.left__panel__toolbar p {
    color: $primary-color;
    font-weight: 600;
    font-size: 10pt;
    cursor: pointer;
}

.active_item {
    text-decoration: underline;
}

.right__panel {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.chat__panel {
    flex-grow: 3;
    border-bottom: 2px solid $border-color;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $chat-select-color;
}

.send__panel {
    justify-self: flex-end;
}

.button__panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

input[type="submit"] {
    margin: 5px;
}
