@import '../../../vars';
.button {
    padding: 10px;
    color: $primary-color;
    font-size: $font-size;
    background: transparent;
    border: 1px solid $primary-color;
    border-radius: 8px;
    cursor: pointer;
}
.button:hover {
    cursor: pointer;
}