@import '../../App/vars';
.room__item {
    background-color: $room-color;
    color: darkgreen;
    padding: 15px;
    text-align: center;
    border-bottom: $border-color solid;
    cursor: pointer;
}
.room__item:hover {
    background-color: $room-select-color;
}
.room__item .active {
    background-color: $room-select-color;
}