@import '../../../vars';
.textarea {
    resize: none;
    color: $primary-color;
    font-size: $font-size;
    border: none;
    border-bottom: 1px solid $border-color;
    padding: 10px;
    height: 75%;
}