@import '../../App/vars';
.textarea {
    margin: 5px;
    resize: none;
    color: $primary-color;
    font-size: $font-size;
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 5px;
}