@import '../../../vars';
.chat__item {
    background-color: $chat-color;
    color: darkgreen;
    padding: 15px;
    text-align: center;
    border-bottom: $border-color solid;
    cursor: pointer;
}
.chat__item:hover {
    background-color: $chat-color-hover;
}
.active {
    background-color: $chat-select-color;
}
.active:hover {
    background-color: $chat-select-color;
}