@import '../../../vars';
.chat__item {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid $border-color;
    cursor: pointer;
    font-size: 10pt;
}
.active {
    background-color: $chat-select-color;
}
.active:hover {
    background-color: $chat-select-color;
}