$primary-color: #033c72;
$primary-bgcolor: #c3eeff;
$border-color: white;
$secondary-bgcolor: lightgray;
$form-bgcolor: #29a1f1;
$form-color: white;
$font-size: 12pt;
$chat-color: #8af7a1;
$chat-color-hover: #8af7a2bb;
$chat-select-color: #21c444; 
$message-owner-color:#c3eeff;
$message-other-color:#8af7a1;